<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps - Diandara</title>
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
</head>

<body>
    <header>
        <a href="#content" class="skip-link">Skip to Content</a>
        <a id="dropdown-click" href="#">☰</a>
        <nav id="navbar">
            <a href="index.html" class="dropdown-title">OuResto!</a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/diandara-tresya-haniva-17732316b/">About Us</a>
                </li>
            </ul>
        </nav>
        <a href="index.html" class="logo">OuResto!</a>
    </header>

    <main>
        <section class="jumbotron">
            <h1 class="jumbotron-title">Hola, Welcome to OuResto!</h1>
        </section>
        <article id="content" tabindex="0">
            <h2>Explore Your Favorite Restaurants</h2>
            <hr>
            <article class="wrapper"></article>
        </article>
    </main>

    <footer>
        <p>Copyright © 2022 - Diandara Tresya Haniva</p>
    </footer>
</body>

</html>